Congratulations, you have successfully installed dev software.

Ansible role for install dev software. This role include install:

  - nginx-full
  - php
  - python@2
  - mysql-connector-c
  - mysql-client
  - imagemagick
  - dnsmasq
  - awscli
  - byobu
  - sequel-pro-nightly
  - phpstorm
  - libreoffice
  - docker
  - docker-compose
  - ansible
  - java@8
  - node@10
  - supervisor
  - vault
  - bash
  - grep
  - mc
  - xcode
  - jq
