Congratulations, you have successfully installed dev software.

Ansible role for install dev software. This role include install:

  - nginx
  - redis
  - mysql@5.7
  - rtmpdump
  - libssh2
  - php@7.1
  - mysql-connector-c
  - mysql-client
  - imagemagick
  - dnsmasq
  - awscli
  - byobu
  - sequel-pro-nightly
  - phpstorm
  - libreoffice
  - docker
  - docker-compose
  - ansible
  - java@8
  - node@10
  - supervisor
