Congratulations, you have successfully installed dev software.

Ansible role for install dev software. This role include install:

  - nginx
  - imagemagick
  - awscli
  - byobu
  - sequel-pro-nightly
  - phpstorm
  - libreoffice
  - docker
  - docker-compose
  - ansible
  - java@8
  - nvm
  - node@12
  - vault
  - bash
  - grep
  - mc
  - xcode
  - jq
  - git-lfs
